{% extends 'base.html.twig' %}

{% block title %}Prosecutor view{% endblock %}
{% block body %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

    <form class="pure-form pure-form-stacked" action="{{ path('login') }}" method="post">
        <fieldset>
            <legend>Log in</legend>

            <label for="username">Username</label>
            <input id="username" name="_username" type="text" placeholder="Username">
            <span class="pure-form-message">This is a required field.</span>

            <label for="password">Password</label>
            <input id="password" type="password" name="_password" placeholder="Password">

            <button type="submit" class="pure-button pure-button-primary">Sign in</button>
        </fieldset>
    </form>
{% endblock %}