<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
            <link rel="stylesheet" href="prisoners.css">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <div id="footer">
            <div class="pure-menu pure-menu-horizontal">
                <a href="/logout" class="pure-menu-heading pure-menu-link">Logout</a>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="/public" class="pure-menu-link">Public view</a></li>
                    <li class="pure-menu-item"><a href="/prosecutor" class="pure-menu-link">Prosecutor</a></li>
                    <li class="pure-menu-item"><a href="/my-prisoners" class="pure-menu-link">Penitentiary head</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
