{% extends 'base.html.twig' %}
{% block title %}My prisoners{% endblock %}
{% block body %}
    <h3>My prisoners</h3>
    <table class="pure-table">
        <thead>
            <tr>
                <th>Nazwisko i imię</th>
                <th>Zakład karny</th>
                <th>Blok</th>
                <th>Numer celi</th>
                <th>Data rozpoczęcia odsiadki</th>
                <th>Data zakończenia odsiadki</th>
            </tr>
        </thead>
        <tbody>
        {% for prisoner in prisoners %}
            <tr>
                <td>{{ prisoner.prisonerName }}</td>
                <td>{{ prisoner.penitentiaryName }}</td>
                <td>{{ prisoner.block }}</td>
                <td>{{ prisoner.cellNumber }}</td>
                <td>{{ prisoner.from|date('Y-m-d') }}</td>
                <td>{{ prisoner.to|date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}