{% extends 'base.html.twig' %}
{% block title %}Widok prokuratora{% endblock %}
{% block body %}
    <h3>Widok prokuratora</h3>
    <table class="pure-table">
        <thead>
            <tr>
                <th>Nazwisko i imię</th>
                <th>Zakład karny</th>
                <th>Przestępstwo</th>
                <th>Data rozpoczęcia odsiadki</th>
                <th>Data zakończenia odsiadki</th>
            </tr>
        </thead>
        <tbody>
        {% for prisoner in prisoners %}
            <tr>
                <td>{{ prisoner.prisonerName }}</td>
                <td>{{ prisoner.penitentiaryName }}</td>
                <td>{{ prisoner.crime }}</td>
                <td>{{ prisoner.from|date('Y-m-d') }}</td>
                <td>{{ prisoner.to|date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}